<!DOCTYPE html>
<html>
    <head>
        <title>Scrabble App</title>
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
        <script type="text/javascript" src="/static/jquery-1.7.1.min.js"></script>
    </head>
    <body>
        <div id="container">
            {% block body %}{% endblock %}
        </div>

        {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            {{message}}
        {% endfor %}
        {% endwith %}

        <script src="http://code.jquery.com/jquery-latest.js"></script>
    	<script src="js/bootstrap.min.js"></script>
    </body>
</html>
